body{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}

.container{
margin: 20px 0;
padding: 5px;
display: flex;
flex-direction: column;
flex: 1;
align-items: center;
}

table
{
    display: grid;
    margin: 0;
    border: 4px solid  black;

}
tr
{
    border: 2px solid  black;  
}
td
{
    border: 1px solid  black;
}
button
{
    margin-top: 10px;
}
